html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-gray-100 {
  background-color: #f7f7f7;
}

.dark .bg-gray-100 {
  background-color: #1e1e1e;
}

.dark .text-gray-800 {
  color: #f0f0f0;
}

.dark .text-white {
  color: #f0f0f0;
}

.dark .bg-indigo-600 {
  background-color: #6366f1;
}

body {
  background-color: #f7f7f7;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #1e1e1e;
  color: #f0f0f0;
}
